<div class="myfooter hidden-print" style="width:100%;min-height:50px;color:white;height: 120px;background-color: #265CB4;overflow: hidden">
    <!--<div style="float: right;position: absolute;">
        <img src="__INDEX__/images/njtech2.png" alt="" style="width: 70px;height: 80px;float: right;" class="img-rounded">
    </div>-->
    <div class="container" style="max-width: 1150px;margin: 0 auto;height: 120px;">
        <div class="col-md-4" style="height: 120px;float: left;">
            <div class="row" style="margin-top: 25px;height: 25px;">
                <p style="width: 100%;">Copyright@ 南京工业大学教学事务部 &nbsp;&nbsp;<a href="http://202.119.248.200" style="color: white" target="_blank">旧版回顾</a></p>
            </div>
            <div class="row" style="height: 25px;">
                <p style="width: 100%;">技术支持： <a href="http://green.njtech.edu.cn/" target="_blank" style="color: white;">计算机科学与技术学院绿荫工作室</a> </p>
            </div>
            <div class="row" style="height: 25px;">
                <p style="width: 100%;">地址：中国江苏省南京市江北新区浦珠南路30号<a href="{:url('admin/login/index')}" target="_blank">后台入口</a> </p>
            </div>
        </div>
        <div class="col-md-4" style="height: 120px;width: 510px;float: right;">
            <div style="height: 80px;width: 80px;margin:10px 20px;float: left;text-align: center">
                <img src="__INDEX__/images/erweima1.png" width="80px" height="80px"/>
                <p>南工官微</p>
            </div>
            <div style="height: 80px;width: 80px;margin:10px 20px;float: left;text-align: center">
                <img src="__INDEX__/images/erweima2.png" width="80px" height="80px"/>
                <p>南工教学</p>
            </div>
            <div style="height: 80px;width: 80px;margin:10px 20px;float: left;text-align: center">
                <img src="__INDEX__/images/erweima3.png" width="80px" height="80px"/>
                <p>微言教育</p>
            </div>
            <div style="height: 80px;width: 80px;margin:10px 20px;float: left;text-align: center">
                <img src="__INDEX__/images/erweima4.png" width="80px" height="80px"/>
                <p>江苏教育</p>
            </div>
        </div>
    </div>


    <!--<img src="__INDEX__/images/foot.png" alt="" style="width: 100%;min-height: 30px;" class="img-rounded">-->
</div>
